In [1]:
# import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# And libraries for data transformation
import datetime

#words counter
from collections import Counter
import re

In [2]:
df = pd.read_csv('src/Groundtruth.csv')
df

,id_str,created_at,state,sentiment,Tweet,Evaluator,Rating
0,1.230000e+18,Mon Mar 02 02:31:01 +0000 2020,Washington,neutral,covid kingcounty,Allen,Neutral
1,1.230000e+18,Mon Mar 02 02:55:14 +0000 2020,Maryland,neutral,washington state reports second coronavirus death,Allen,Negative
2,1.230000e+18,Mon Mar 02 02:55:26 +0000 2020,New York,positive,announcing first positive case covid new york ...,Allen,Positive
3,1.230000e+18,Mon Mar 02 02:10:10 +0000 2020,Texas,positive,people get coronavirus whole world wants wear ...,Allen,Negative
4,1.240000e+18,Mon Mar 16 01:26:36 +0000 2020,Texas,positive,theres drive thru covid test north austin doma...,Allen,Neutral
...,...,...,...,...,...,...,...
95,1.240000e+18,Mon Mar 16 01:47:49 +0000 2020,New York,negative,coronavirus updatemeeting mayor excused restro...,Varun,Neutral
96,1.230000e+18,Mon Mar 02 02:11:35 +0000 2020,Pennsylvania,neutral,breaking second person died coronavirus covid ...,Varun,Negative
97,1.230000e+18,Mon Mar 02 02:10:47 +0000 2020,Texas,neutral,florida,Varun,Neutral
98,1.240000e+18,Mon Mar 16 01:05:53 +0000 2020,Texas,positive,coronavirus closing schools china month ago te...,Varun,Positive
99,1.240000e+18,Mon Mar 16 01:06:23 +0000 2020,California,positive,norway developed socialist country called stud...,Varun,Negative

# Data preprocessing

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_str      100 non-null    float64
 1   created_at  100 non-null    object
 2   state       96 non-null     object
 3   sentiment   100 non-null    object
 4   Tweet       98 non-null     object
 5   Evaluator   100 non-null    object
 6   Rating      75 non-null     object
dtypes: float64(1), object(6)
memory usage: 5.6+ KB

In [4]:
df_test = df[['Tweet', 'Rating']]
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tweet   98 non-null     object
 1   Rating  75 non-null     object
dtypes: object(2)
memory usage: 1.7+ KB

In [5]:
df_test = df_test.dropna()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tweet   73 non-null     object
 1   Rating  73 non-null     object
dtypes: object(2)
memory usage: 1.7+ KB

In [6]:
df_test['Rating_score'] = df_test['Rating'].apply(lambda x: 1 if x == 'Positive' else -1 if x == 'Negative' else 0)
df_test

                                                Tweet    Rating  Rating_score
0                                    covid kingcounty   Neutral             0
1   washington state reports second coronavirus death  Negative            -1
2   announcing first positive case covid new york ...  Positive             1
3   people get coronavirus whole world wants wear ...  Negative            -1
4   theres drive thru covid test north austin doma...   Neutral             0
..                                                ...       ...           ...
95  coronavirus updatemeeting mayor excused restro...   Neutral             0
96  breaking second person died coronavirus covid ...  Negative            -1
97                                            florida   Neutral             0
98  coronavirus closing schools china month ago te...  Positive             1
99  norway developed socialist country called stud...  Negative            -1

[73 rows x 3 columns]

# Model analysis

In [7]:
# sentiment 
# sentiment 
from textblob import TextBlob
def textblob_sen(x):
    score = TextBlob(x).sentiment[0]
    if score > 1:
        return 1
    elif score == 0:
        return 0
    else:
        return -1
        
        
from textblob import TextBlob
models = {'TextBlob': lambda x: textblob_sen(x)}

for name, model in models.items():
    df_test[name] = df_test['Tweet'].apply(lambda x: model(x))

df_test

,Tweet,Rating,Rating_score,TextBlob
0,covid kingcounty,Neutral,0,0
1,washington state reports second coronavirus death,Negative,-1,0
2,announcing first positive case covid new york ...,Positive,1,-1
3,people get coronavirus whole world wants wear ...,Negative,-1,-1
4,theres drive thru covid test north austin doma...,Neutral,0,-1
...,...,...,...,...
95,coronavirus updatemeeting mayor excused restro...,Neutral,0,-1
96,breaking second person died coronavirus covid ...,Negative,-1,0
97,florida,Neutral,0,0
98,coronavirus closing schools china month ago te...,Positive,1,-1
99,norway developed socialist country called stud...,Negative,-1,-1

In [10]:
from sentistrength import PySentiStr

def sentistrength_sen(x):
    score = PySentiStr().getSentiment(x)
    if score > 1:
        return 1
    elif score == 0:
        return 0
    else:
        return -1
        
        
models = {'sentistrength': lambda x: sentistrength_sen(x)}

for name, model in models.items():
    df_test[name] = df_test['Tweet'].apply(lambda x: model(x))

df_test

AssertionError: Set path using setSentiStrengthPath(path) function.